---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aspeth/bulk-discounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c2f266551d78828e6689eb60994b01a2d1dac4e368aad377f3863aa868c2b016"'
      Last-Modified:
      - Fri, 15 Apr 2022 22:03:42 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '1650583469'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"id":484173437,"node_id":"R_kgDOHNvmfQ","name":"bulk-discounts","full_name":"aspeth/bulk-discounts","private":false,"owner":{"login":"aspeth","id":92954894,"node_id":"U_kgDOBYphDg","avatar_url":"https://avatars.githubusercontent.com/u/92954894?v=4","gravatar_id":"","url":"https://api.github.com/users/aspeth","html_url":"https://github.com/aspeth","followers_url":"https://api.github.com/users/aspeth/followers","following_url":"https://api.github.com/users/aspeth/following{/other_user}","gists_url":"https://api.github.com/users/aspeth/gists{/gist_id}","starred_url":"https://api.github.com/users/aspeth/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aspeth/subscriptions","organizations_url":"https://api.github.com/users/aspeth/orgs","repos_url":"https://api.github.com/users/aspeth/repos","events_url":"https://api.github.com/users/aspeth/events{/privacy}","received_events_url":"https://api.github.com/users/aspeth/received_events","type":"User","site_admin":false},"html_url":"https://github.com/aspeth/bulk-discounts","description":null,"fork":true,"url":"https://api.github.com/repos/aspeth/bulk-discounts","forks_url":"https://api.github.com/repos/aspeth/bulk-discounts/forks","keys_url":"https://api.github.com/repos/aspeth/bulk-discounts/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aspeth/bulk-discounts/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aspeth/bulk-discounts/teams","hooks_url":"https://api.github.com/repos/aspeth/bulk-discounts/hooks","issue_events_url":"https://api.github.com/repos/aspeth/bulk-discounts/issues/events{/number}","events_url":"https://api.github.com/repos/aspeth/bulk-discounts/events","assignees_url":"https://api.github.com/repos/aspeth/bulk-discounts/assignees{/user}","branches_url":"https://api.github.com/repos/aspeth/bulk-discounts/branches{/branch}","tags_url":"https://api.github.com/repos/aspeth/bulk-discounts/tags","blobs_url":"https://api.github.com/repos/aspeth/bulk-discounts/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aspeth/bulk-discounts/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aspeth/bulk-discounts/git/refs{/sha}","trees_url":"https://api.github.com/repos/aspeth/bulk-discounts/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aspeth/bulk-discounts/statuses/{sha}","languages_url":"https://api.github.com/repos/aspeth/bulk-discounts/languages","stargazers_url":"https://api.github.com/repos/aspeth/bulk-discounts/stargazers","contributors_url":"https://api.github.com/repos/aspeth/bulk-discounts/contributors","subscribers_url":"https://api.github.com/repos/aspeth/bulk-discounts/subscribers","subscription_url":"https://api.github.com/repos/aspeth/bulk-discounts/subscription","commits_url":"https://api.github.com/repos/aspeth/bulk-discounts/commits{/sha}","git_commits_url":"https://api.github.com/repos/aspeth/bulk-discounts/git/commits{/sha}","comments_url":"https://api.github.com/repos/aspeth/bulk-discounts/comments{/number}","issue_comment_url":"https://api.github.com/repos/aspeth/bulk-discounts/issues/comments{/number}","contents_url":"https://api.github.com/repos/aspeth/bulk-discounts/contents/{+path}","compare_url":"https://api.github.com/repos/aspeth/bulk-discounts/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aspeth/bulk-discounts/merges","archive_url":"https://api.github.com/repos/aspeth/bulk-discounts/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aspeth/bulk-discounts/downloads","issues_url":"https://api.github.com/repos/aspeth/bulk-discounts/issues{/number}","pulls_url":"https://api.github.com/repos/aspeth/bulk-discounts/pulls{/number}","milestones_url":"https://api.github.com/repos/aspeth/bulk-discounts/milestones{/number}","notifications_url":"https://api.github.com/repos/aspeth/bulk-discounts/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aspeth/bulk-discounts/labels{/name}","releases_url":"https://api.github.com/repos/aspeth/bulk-discounts/releases{/id}","deployments_url":"https://api.github.com/repos/aspeth/bulk-discounts/deployments","created_at":"2022-04-21T19:06:05Z","updated_at":"2022-04-15T22:03:42Z","pushed_at":"2022-04-21T18:54:39Z","git_url":"git://github.com/aspeth/bulk-discounts.git","ssh_url":"git@github.com:aspeth/bulk-discounts.git","clone_url":"https://github.com/aspeth/bulk-discounts.git","svn_url":"https://github.com/aspeth/bulk-discounts","homepage":"","size":1388,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":479468945,"node_id":"R_kgDOHJQdkQ","name":"little-esty-shop","full_name":"alexGrandolph/little-esty-shop","private":false,"owner":{"login":"alexGrandolph","id":96802470,"node_id":"U_kgDOBcUWpg","avatar_url":"https://avatars.githubusercontent.com/u/96802470?v=4","gravatar_id":"","url":"https://api.github.com/users/alexGrandolph","html_url":"https://github.com/alexGrandolph","followers_url":"https://api.github.com/users/alexGrandolph/followers","following_url":"https://api.github.com/users/a[...]
[...]
